*{
    margin:0;
    padding:0;
}

#header{
    background-color: lightseagreen;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px 0px;
    }
#header p{
    color: white;
    text-align: center;
    font-size:65px;
    font-family: sans-serif;
    font-weight: bold;
}
#header img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 30px;
}
.main-container{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 48px;
}
.main-container img{
    height: 400px;
    width: 550px;
    margin: 40px 10px;
}


#img1{
    border: 15px solid lightseagreen;
}

#img2{
    border: 15px dashed lightseagreen;
}

#img3{
    border: 15px dotted lightseagreen;
}

#img4{
    border: 15px outset lightseagreen;
}
#img5{
    border: 15px outset lightseagreen;
}

#img6{
    border: 15px double lightseagreen;
}


#descriptionBox{
    position: relative;
    background-color: lightseagreen;
    height: 300px;
    width: 1150px;
    border-top: 10px solid green;
    border-right: 10px solid pink;
    border-bottom: 10px solid blue;
    border-left: 10px solid red;
    margin: auto;
    padding: 20px 0px;
    margin-bottom: 30px;
}

#description{
    position: relative;
    font-family: sans-serif;
    color: white;
    padding: 0px 20px 0px 20px;
    font-size: 20px;
    text-align: justify;

}
